* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

/* color */
.grey {
    background: #252525;
}

.common_box {
    width: 583px;
    padding: 10px;
    border: 1px solid #3A3A3A;
}

.paragraph_future_max_w {
    max-width: 640px;
}

.gap_40 {
    gap: 40px;
}

.branding_logo_padding {
    padding: 40px;
}

.common_box_position {
    position: absolute;
    right: 20px;
}

.responsive_box {
    width: 335px;
    padding: 12px;
}

.responsive_box_pos {
    position: absolute;
    top: 20%;
    transform: translateY(21%);
}

.social_sensor_img_w {
    max-width: 284px;
    width: 100%;
}

.social_tensor_img_w {
    max-width: 401.02px;
    width: 100%;
}

.cross_icon_box {
    width: 32px;
    height: 32px;
    background: #252525;

}

.social_tensor_transition_2 {
    transition: all ease-out 1000ms !important;
}

.gap_12 {
    gap: 12px;
}

.mt_20 {
    margin-top: 20px;
}

.branding_text_transform {
    transform: rotate(270deg);
    position: absolute;
    left: -19px;
    bottom: 20px;

}


.ui_ux_text_transform {
    transform: rotate(270deg);
    position: absolute;
    left: -7px;
    bottom: 8px;
}

.gap_32 {
    gap: 32px;
}



@media (min-width:1200px) {
    .common_box {
        width: 480px;

    }

    .common_box_position {
        top: -100%;
    }

    .slick-track:hover .common_box_position {
        top: 20px;
        right: 20px;
        transition: all ease-in-out 500ms !important;

    }

    .social_sensor_img_w {
        max-width: 416.75px;
        width: 100%;
    }

    .common_box_position_transform_1 {
        transform: translate(-104%, 0%);
        transition: all ease-out 5000ms;
    }

    body:hover .common_box_position_transform_1 {
        transform: translate(-104%, 0%);
        transition: all ease-out 1000ms !important;
    }

}

@media (min-width:1400px) {
    .common_box {
        width: 583px;
    }
}

/* shiv----css */
.vertical-slider .slick-slide {
    height: auto;
}

.vertical-slider .slick-slide {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
}

.vertical-slider .slick-center {
    transform: scale(1);
}

.vertical-slider .slick-center p {
    font-size: 46px;
    color: #FFFFFF !important;
    opacity: 1 !important;
}

.vertical-slider .slick-slide p {
    font-size: 32px;
    color: #FFFFFF;
    opacity: 0.25;
}

@media (min-width:576px) {
    .gap_32 {
        gap: 40px;
    }

    .branding_padding {
        padding: 40px 0px 0px 40px;
    }

    .vertical-slider .slick-center p {
        font-size: 80px;
        color: #FFFFFF !important;
        opacity: 1 !important;
    }

    .vertical-slider .slick-slide p {
        font-size: 42px;
        color: #FFFFFF;
        opacity: 0.25;
    }
}


@media (max-width:576px) {


    .menu {
        cursor: pointer;
    }

    .cross span {
        background: white;
    }

    .cross span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }


    .cross span:nth-child(2) {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    .z_9 {
        z-index: 9;
    }

    .pt_200 {
        padding-top: 200px;
    }

    .menu span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background: white;
        transition: all 0.3s;
    }

    .navbar-nav {
        position: absolute;
        top: 0;
        right: 0;
        background: black;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-nav.show {
        transform: translateX(0);
    }

    .navbar-nav.hide {
        transform: translateX(100%);
    }

    .overflow_hidden {
        overflow: hidden;
    }


}