* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}

.divider_line {
  width: 2px;
  height: 12px;
  border: 1px solid #FFFFFF4D;
}

.paragraph_future_max_w {
  max-width: 640px;
}

.gap_40 {
  gap: 40px;
}

ol,
ul {
  padding-left: 0px !important;
}

.pt_253 {
  padding-top: 253px;
}