:root {
  --fs-sm: 12px;
  --fs-md: 16px;
  --fs-lg: 24px;
  --fs-xl: 32px;
  --fs-2xl: 42px;
  --fs-3xl: 80px;
}

.lh_12 {
  line-height: 12px;
}

.lh_16 {
  line-height: 16px;
}

.lh_24 {
  line-height: 24px;
}

.lh_32 {
  line-height: 32px;
}

.lh_38 {
  line-height: 38.4px;
}

.lh_42 {
  line-height: 42px;
}

.lh_80 {
  line-height: 80px;
}

.lh_100 {
  line-height: 100px;
}

.lh_14 {
  line-height: 14.4px;
}

.text_12 {
  font-size: var(--fs-sm);
}

.text_16 {
  font-size: var(--fs-md);
}

.text_24 {
  font-size: var(--fs-lg);
}

.text_32 {
  font-size: var(--fs-xl);
}

.text_42 {
  font-size: var(--fs-2xl);
}

.text_80 {
  font-size: var(--fs-3xl);
}

.text_100 {
  font-size: var(--fs-3xl);
}

@font-face {
  font-family: "Acumin_Pro_Wide";
  src: url("./assets/fonts/Acumin\ Pro\ Condensed.ttf");
}

@font-face {
  font-family: "Gilroy_SemiBoldItalic";
  src: url("./assets/fonts/Gilroy-SemiBoldItalic.ttf");
}

.font_Acumin_Pro_Wide {
  font-family: "Acumin_Pro_Wide";
}

.font_Gilroy_SemiBoldItalic {
  font-family: "Gilroy_SemiBoldItalic";
}